#{extends 'main.html' /}
#{set title:'Home' /}

#{form @Items.addItem(), method:'POST'}
  <fieldset class="col-lg-6"> 
    #{ifErrors}
      <p class="errors">All fields required</p>
    #{/ifErrors}
    <div class="form-group">
      <label for="content">Add new todo</label>
      <input type="text" class="form-control" name="content" id="content" />
    </div>
       <input type="submit" name="submit" id="" class="btn btn-success" value="Add Item" />
  </fieldset>
#{/form}

<ul>
  #{list items:items, as: 'item'}
    <li id='${item.id}'>
      <input type="checkbox" name="complete" id="complete" ${item.isComplete ? "checked" : ""} />
      <a href="@{Items.show(item.id)}" class=${item.isComplete ? "complete" : "incomplete"}> ${item.content}</a>
    </li>
  #{/list}
</ul>

<script type="text/javascript" charset="utf-8">
  $(function(){
    $("input[type=checkbox]").click(function(e){
      var li = $(this.parentNode);
      var id = li.attr("id");
      var isComplete = li.find("input[type=checkbox]").prop("checked");
      var markComplete = #{jsAction @Items.markComplete(":id", ":isComplete") /};
      $.post(markComplete({id: id, isComplete: isComplete}), function(){
        if(isComplete) li.find("span").attr("class", "complete");
        else li.find("span").attr("class", "incomplete");
      });
    });
  });
</script>
